<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Quote</title>
    </head>
    <body style="text-align: center">
        <h1>Welcome to Quoting Dojo!</h1>
        <form action="/quotes" method="post">
            Your Name: <input type="text" name="name" value=""><br>
            Your Quote: <textarea name="quote" value=""></textarea><br>
            <input type="submit" value="Add Quote">
        </form>
        <a href="/quotes"><button>Skip to Quotes</button></a>
    </body>
</html>
