<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Mongoose</title>
    </head>
    <body>
        <form action="/new" method="post">
            Mongoose Name: <input type="text" name="name" value=""><br>
            How many Legs? : <input type="text" name="legs" value=""></textarea><br>
            What color? : <input type="text" name="color" value=""><br>
            <input type="submit" value="Add Mongoose">
        </form>
    </body>
</html>
