button{
    background-color: #bda37e;
}
body{
    align-content: center;
    font-family: Verdana;
    font-size: 14px;
}
.header{
    margin: auto;
    text-align: center;
    background-color: #e5d9c2;
    padding: 20px;
    width: 970px;
    box-shadow: 5px 5px 5px #b7b8bc;
}
span{
    text-decoration: bold;
}
.list{
    padding: 20px 0px 20px 0px;
    margin: auto;
    box-shadow: 5px 5px 5px #b7b8bc;
    background-color: #e5d9c2;
    margin-top: 20px;
    width: 970px;
}
blockquote{
    background-color: #dac9ad;
    box-shadow: 5px 5px 5px #b7b8bc;
    padding: 15px
}

.search{
    margin: auto;
    text-align: center;
    background-color: #e5d9c2;
    padding: 20px;
    width: 970px;
    box-shadow: 5px 5px 5px #b7b8bc;
}
.content{
    border: 1px solid silver;
    border-radius: 5px;
    height: 20px;
    width: 500px;
}
.button{
    border: 1px solid silver;
    border-radius: 5px;
    height: 20px;
    width: 200px;
    background-color: whitesmoke
}