<!DOCTYPE html>
<html>
<head>
    <title>Survey Form</title>
</head>
<body>

    <form action="/">
        <h2>Submitted Information:</h2>
        <strong>Name: </strong><%=dojo.name%><br>
        <strong>Dojo Location: </strong><%=dojo.location%><br>
        <strong>Favorite Language: </strong><%=dojo.language%><br>
        <strong>Comment: </strong><%=dojo.description%><br><br>

        <input type="submit" value="Go Back">
    </form>
</body>
</html>
